
<ul>
	<li><%= @concert.name%></li>
	<li><%= @concert.band%></li>
	<li><%= @concert.venue%></li>
	<li><%= @concert.city%></li>
	<li><%= @concert.date%></li>
	<li><%= @concert.price%></li>
	<li><%= @concert.description%></li>
</ul>