<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	<nav>
		<ul>
			<li class="navbar">Concerts</li>
			<li class="navbar">Add new</li>
			<li class="navbar">About us</li>
			<li class="navbar">Contact</li>
		</ul>
	</nav>
</header>
<div class="container">
	<div class="row">
		<div class="col-sm-4 sidebar">
			<h2 class="title">Upcoming Events</h2>
			<ul>
				<% Concert.all.each do |concert|%>
				<li class="links"><%= link_to(concert.name, concert_path(concert.id))%>
				<%end%>
			</li>
		</ul>
		</div>
		<div class="col-sm-8 today_event">
				<%= yield %>
		</div>
	</div>
</div>

	<!-- <div class="sidebar">
	
	</div> -->
	<!-- <div class="today_event">
	</div> -->


</body>
</html>
